# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
*.db
*.sqlite3

# Django migrations
*/migrations/*.py[cod]
!*/migrations/__init__.py

*/migrations/__pycache__/

# Environments
.env
venv/
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/

media/